/* Making the body size */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}
/* Inserting information */
.container {
    width: 600px;
    height: 400px;
    background-color: #1c84e6;
    color: #FFFFFF;
    padding: 25px;
    border-radius: 10px;
    margin-top: 20px;
    h1{
        display: flex;
        justify-content: center;
        align-items: centre;
        background-color: black;
        padding: 5px;
        border-radius: 5px;

    }
}

.wrapper {
    display: flex;
    div{
        margin:20px;

    }
}
#btn{
    margin-top: 30px;
    button{
        background-color: rgb(105, 105, 223);
        border-radius: 5px;
        border: 2px solid rgb(58, 152, 230);
    }

button:hover{
    background-color: rgb(221, 181, 93);
}
}